/*

[醴翹桶] 

	1- messageBoard          隱晟啣遺殤
	2- messageBoardLeft      隱晟囀楈饃萷羆
	3- messageBoardRight     隱晟囀楂珣萷羆
	4- messagePage           隱晟囀揧笳
	5- messageAction         隱晟桶等
	6- rebox                 隙葩遺殤
	
*/

/* =1 messageBoard每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每-每每每每每每*/
#messageBoard{/* 隱晟啣遺殤 */
	float:left;
	width:720px;
	margin-top:20px;
	overflow:hidden;
	clear:both;
}

/* =2 messageBoardLeft每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每*/
.messageBoardLeft{/* 隱晟囀楈饃萷羆 */
	float:left;
	width:98px;
	background:#FFF;
	border:1px solid #ccc;
}
.messageBoardAvatar{/* 芛砉 */
	height:72px;
	margin:10px auto; 
	width:72px;
}
.messageBoardLeft b{/* 糒備 */
	display:block;
	width:98px;
	font-size:12px;
	font-weight:normal;
	text-align:center;
	line-height:15px;
	padding-bottom:8px;
}
.messageBoardLeft b a{
	color:#000;
	font-size:12px;
	font-weight:normal; 
	text-decoration:none;
}
.messageBoardLeft b a:hover{
	font-weight:normal; 
	text-decoration:underline;
}

/* =3 messageBoardRight每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每*/
.messageBoardRight{/* 隱晟囀楂珣萷羆 */
	float:left;
	width:520px;
}
.messageBoardRight-top{/* 隱晟囀楂珣萷羆嗐歇 */
	float:left;
	height:34px;
	width:620px;
	_width:585px;
	color:#828B95;
	font-size:12px;
	line-height:34px;
	padding-left:35px;
	background:url(../images/messageBoardRight-top.jpg) no-repeat;
}

.messageBoardRight-center{/* 隱晟囀楂珣萷羆嗒赲 */
	float:left;
	width:570px;
	color:#000;
	font-size:14px;
	line-height:23px;
	padding-left:40px;
	padding-right:10px;
	background:url(../images/messageBoardRight-center.jpg) repeat-y;
}
.messageBoardRight-center a{
	color:#888;
	font-size:14px;
	text-decoration:none;
}
.messageBoardRight-center a:hover{
	color:#D02F53;
	font-size:14px;
	text-decoration:underline;
}

.messageBoardRight-bottom{/* 隱晟囀搊萷羆傿袉 */
	float:left;
	height:16px;
	width:620px;
	background:url(../images/messageBoardRight-bottom.jpg) no-repeat;
}


/* =4 messagePage每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每-每每每每每每*/
#messagePage{/* 隱晟囀揧笳 */
  float:right;
  height:40px;
	width:600px;
	color:#222;
	font-size:13px;
	line-height:35px;
	text-align:center;
	margin:20px auto;
	border-bottom:1px dashed #888;
}
#messagePage a{
	color:#222;
	padding:3px;
	text-decoration:none;
}
#messagePage a:hover{
	background-color:#444;
	color:#fff;
	text-decoration:underline;
}

/* =5 messageAction每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每*/
#messageAction{/* 隱晟桶等 */
	float:right;
	width:595px;
	padding-bottom:20px;
	margin-bottom:10px;
	border:1px solid #CCCCCC;
	background:url(../images/messageAction-bg.jpg) repeat;
}
#messageActionOther{/* 隱晟桶等-奪燴埜隙葩睿蚔諦隙葩蚳蚚 */
	float:left;
	width:595px;
	padding-bottom:20px;
	margin-bottom:10px;
	border:1px solid #CCCCCC;
	background:url(../images/messageAction-bg.jpg) repeat;
}
.messageMsg{/* 桶等囀窒遺殤 */
	margin:15px auto;
	width:560px;
	height:125px;
}
.messageUserinfo{/* 隱晟氪陓洘 */
	margin:auto;
	width:560px;
	color:#555;
	font-size:14px;
	line-height:35px;
	padding-bottom:5px;
}
.messageUserinfoInput{/* 隱晟氪陓洘-怀踸 */
  height:14px;
  width:220px;
	color:#222;
	font-size:14px;
	line-height:15px;
	font-family:峚縼驕;
	padding:6px 3px;
	background:#FFF;
	border:1px solid #D6D3D3;
	vertical-align:middle;
}
.messageUserinfo img{/* 隱晟桄痐鎢 */
	padding:10px 0px 10px 0px;
	vertical-align:middle;
}
.messageSelectAvatar{/* 恁寁芛砉 */
	width:560px;
	height:25px;
	margin:15px auto;
}
.messageSelectAvatar ul{
	float:left;
}
.messageSelectAvatar ul li{
	float:left;
}
.messageSelectAvatar ul li input,.messageSelectAvatar ul li img{
	margin-right:3px;
	vertical-align:middle;
}  
.messageText{/* 怀踽硜暆羆 */
	margin:15px auto;
	width:560px;
}
.messageArea{/* 怀踽硜楱覺噶 */
	height:150px;
	width:538px;
	color:#333;
	font-size:14px;
	font-family:峚縼驕;
	line-height:22px;
	padding:10px;
	background:#FFFFFF;
	border:#CCCCCC 1px solid;
}
.messagePost{/* 枑蝠隱晟遺殤 */
	margin:auto;
	width:560px;
}
.messagePostBtn{/* 枑蝠偌聽 */
	float:right;
	cursor:pointer;
	color:#fff;
	font-size:14px;
	text-align:center;
	vertical-align:middle;
	font-family:峚縼驕;
	margin-left:20px;
	padding:3px 20px;
	border:none;
	background:#4F4E4C;
}

/* =6 rebox{每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每每*/
.rebox{/* 隱晟隙葩欴宒 */
   margin:12px auto;
   padding:5px 10px;
   width:88%;
   color:#333;
   font-style:italic;
   border:1px dashed #ccc;
   background:#FAFAFA;
}